<div [formGroup]="athleteForm">
<!--    ----{{alldata | json}}-->
    <div class="form-group col-xs-6">
	    <select multiple class="selct form-control" formControlName="sport" (change)="onselectlevel()">
	        <option *ngFor="let sport_type of sport_type" [value]="sport_type.tid">
	              {{ sport_type.name }}
	        </option>
	    </select>
	    <small [hidden]="athleteForm.controls.sport.valid" class="text-danger">
	            sport is required
	    </small>
    </div>
    
    <div class="form-group col-xs-6" *ngIf="athleteForm.controls.sport.value">
	    <select multiple class="selct form-control" formControlName="school_level" (change)="onselectlevel()">
	        <option *ngFor="let school_level of school_level" [value]="school_level.tid">
	              {{ school_level.name }}
	        </option>
	    </select>
	    <small [hidden]="athleteForm.controls.school_level.valid" class="text-danger">
	            School level is required
	    </small>
        
    </div>




    <div class="form-group col-xs-12" *ngIf="athleteForm.controls.school_level.value">
	<md-tab-group>
            <md-tab label="{{tab}}" *ngFor="let tab of laveltab; let i = index">
		<div class="md-padding ng-scope _md panel-body">
                    <div class="main-school-name" *ngFor="let schoolname of gettabteam(tab)">
                        <h4>{{schoolname}}</h4>
<!--                            {{gettabsch_level(tab, schoolname)| json}}-->
                            <ul class="level-school-name" *ngFor="let schoollevel of gettabsch_level(tab, schoolname)">
                                <div class="laveldetail">
                                     <h5>{{schoollevel}}</h5>
                                    <section class="example-section" *ngFor="let schoollteam of gettabsch_team(tab, schoolname,schoollevel)">
                                        <md-checkbox class="example-margin" value="schoollteam.teamID" formArrayName="team_athlete">
                                            {{schoollteam.teamname}} </md-checkbox>
                                    </section>
                                </div>
                            </ul>                        
                    </div>
                </div>
            </md-tab>
	</md-tab-group>
    </div>
    <div class="form-group position clearfixed" *ngIf="athleteForm.controls.sport.value">
            <div class="panel panel-primary margin-0 ng-hide" *ngIf="(athleteForm.controls.sport.value=='66') || (athleteForm.controls.sport.value=='66,71')">
                <div class="panel-heading football-position">Football Position</div>
                <div class="panel-body">
                    <div class="offense clearfix margin-bottom-15">                  
                        <select multiple class="form-control" formControlName="offense" multiple="">
                            <option value="" selected="selected" disabled="">-- Please Select Offense Position --</option>
                            <option *ngFor="let offense_position of offense_position" value="{{offense_position.tid}}">
                                {{ offense_position.name}}</option>
                        </select>
                        <span  class="help-block margin-0 ng-scope">Please select your offense position.</span>
                    </div>
                    <div class="defense clearfix margin-bottom-15">   
                        <select multiple class="form-control" formControlName="defense" multiple="">
                            <option value="" selected="selected" disabled="">-- Please Select Defense Position --</option>
                            <option *ngFor="let defense_position of defense_position" value="{{defense_position.tid}}">
                                {{ defense_position.name}}</option>
                        </select>
                        <span  class="help-block margin-0 ng-scope">Please select your defense position.</span>
                    </div>
                    <div class="specialTeams clearfix margin-bottom-15">                  
                        <select  multiple="" formControlName="specialTeams">
                            <option value="" selected="selected" disabled="">-- Please Select Special Teams Position --</option>
                            <option *ngFor="let special_position of special_teams_position" value="{{special_position.tid}}">{{ special_position.name }}</option>
                        </select>
                        <span class="help-block margin-0 ng-scope">Please select your special position.</span>
                    </div>
                    <div class="specialTeams clearfix margin-bottom-15">                  
                        <select  multiple="" formControlName="primaryposition">
                            <option value="" selected="selected" disabled="">-- Please Select Primary Position --</option>
                            <option *ngFor="let PriPosition of primary_position" value="{{PriPosition.tid}}">{{ PriPosition.name }}</option>
                        </select>
                        <span class="help-block margin-0 ng-scope">Primary Position is required.</span>
                    </div>
                    <div class="specialTeams clearfix margin-bottom-15">                  
                        <select  multiple="" formControlName="secondaryposition">
                            <option value="" selected="selected" disabled="">-- Please Select Secondary Position --</option>
                            <option *ngFor="let secondary_position of secondary_position" value="{{secondary_position.tid}}">{{ secondary_position.name }}</option>
                        </select>
                        <span class="help-block margin-0 ng-scope">Secondary Position is required.</span>
                    </div>
                </div>
            </div>
       
            <div class="panel panel-primary margin-0 ng-hide" *ngIf="(athleteForm.controls.sport.value=='71') || (athleteForm.controls.sport.value=='66,71')">
                <div class="panel-heading football-position">Basketball Position</div>
                <div class="panel-body">
                    <div class="offense clearfix margin-bottom-15">                  
                        <select multiple class="form-control" formControlName="basketball" multiple="">
                            <option value="" selected="selected" disabled="">-- Please Select Offense Position --</option>
                            <option *ngFor="let basketball_position of basketball_position" value="{{basketball_position.tid}}">
                                {{ basketball_position.name}}</option>
                        </select>
                        <span  class="help-block margin-0 ng-scope">Position is required.</span>
                    </div>
                </div>
            </div>
        <div class="col-sm-4">
        <md-input-container class="basketball-height clearfix margin-bottom-15">
            <input md-input formControlName="height" placeholder = "Your Height" />
            <small *ngIf="!athleteForm.controls.height.valid" class="text-danger">Height is required.</small>
        </md-input-container>
        </div>
        <div class="col-sm-4">
          
        <md-input-container class="basketball-weight clearfix margin-bottom-15">
            <input md-input formControlName="weight" placeholder = "Your Weight" />
            <small *ngIf="!athleteForm.controls.weight.valid" class="text-danger">Weight is required.</small>
        </md-input-container> 
        </div>
        <div class="col-sm-4">
                <md-input-container class="vertical clearfix margin-bottom-15">
                <input md-input formControlName="vertical" placeholder = "Vertical" />
                <small *ngIf="!athleteForm.controls.vertical.valid" class="text-danger">Vertical is required.</small>
                </md-input-container>
        </div>
       
        
        
        <div class="testing clearfix margin-bottom-15 clearfixed" *ngIf="(athleteForm.controls.sport.value=='66') || (athleteForm.controls.sport.value=='66,71')">
            <div class="col-sm-4">
                <md-input-container class="forty clearfix margin-bottom-15">
                    <input md-input formControlName="forty" placeholder = "40 Yards" />
                </md-input-container>
            </div>
            <div class="col-sm-4">
                <md-input-container class="shuttlet clearfix margin-bottom-15">
                    <input md-input formControlName="shuttle" placeholder = "Shuttle" />
                </md-input-container> 
            </div>
            <div class="col-sm-4">
            <md-input-container class="bench clearfix margin-bottom-15">
                <input md-input formControlName="bench" placeholder = "Bench" />
            </md-input-container>
            </div>
            <div class="col-sm-4">
            <md-input-container class="squat clearfix margin-bottom-15">
                <input md-input formControlName="squat" placeholder = "Squat" />
            </md-input-container>
            </div>
            <div class="col-sm-4">
            <md-input-container class="cline clearfix margin-bottom-15">
                <input md-input formControlName="cline" placeholder = "Cline" />
            </md-input-container> 
            </div>
        </div>
        
        <div class="interested-school clearfix">
            <div class="clearfix">
                <label for="interested-school">Schools Interested In You</label>
            </div>
            <div class="clearfix">
                <ol formArrayName="insschools">
                    <li *ngFor="let city of insschools.controls; let i=index">
                      <input [formControlName]="i" class="border_bottom full-width ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                    </li>
                </ol>
                <span (click)="addSchoolName()" class="addnewrow" role="button" tabindex="0">Add new+</span>
            </div>
            
            
            
        </div>
    </div>
   
        
</div>