


<!--  <button type="button" class="btn btn-default" (click)="modal.open(coachForm.controls.coachsport.value)">Open me!</button>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
        <li *ngFor="let sport_dd of coachForm.controls.coachsport.value">
           {{onselectlevel.sport_dd}}
            {{sport_dd}}
        </li>
        {{onselectlevel|json}}
        <add-team></add-team>
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
-->
<div [formGroup]="coachForm"  id ="sddsdsds">

    <div class="form-group col-xs-6" >
	    <select multiple class="selct form-control" formControlName="coachsport" (change)="onselectlevel()">
	        <option *ngFor="let sport_type of sport_type" [value]="sport_type.tid">
	              {{ sport_type.name }}
	        </option>
	    </select>
	    <small [hidden]="coachForm.controls.coachsport.valid" class="text-danger">
	            sport is required
	    </small>
    </div>
    <div class="form-group col-xs-6" *ngIf="coachForm.controls.coachsport.value">
	    <select multiple class="selct form-control" formControlName="coachschool_level" (change)="onselectlevel()">
	        <option *ngFor="let school_level of school_level" [value]="school_level.tid">
	              {{ school_level.name }}
	        </option>
	    </select>
	    <small [hidden]="coachForm.controls.coachschool_level.valid" class="text-danger">
	            School level is required
	    </small>
        
        
        {{coachForm.vaid}}
    </div>
    <div class="form-group col-xs-12" *ngIf="coachForm.controls.coachschool_level.value">
	<md-tab-group>
            <md-tab label="{{tab}}" *ngFor="let tab of laveltab; let i = index">
		<div class="md-padding ng-scope _md panel-body">
                    <div class="main-school-name" *ngFor="let schoolname of gettabteam(tab)">
                        <h4>{{schoolname}}</h4>
<!--                            {{gettabsch_level(tab, schoolname)| json}}-->
                            <ul class="level-school-name" *ngFor="let schoollevel of gettabsch_level(tab, schoolname)">
                                <div class="laveldetail">
                                     <h5>{{schoollevel}}</h5>
                                    <section class="example-section" *ngFor="let schoollteam of gettabsch_team(tab, schoolname,schoollevel)">
                                        <md-checkbox class="example-margin" value="schoollteam.teamID" formControlName="team_coach">
                                            {{schoollteam.teamname}} </md-checkbox>
                                    </section>
                                </div>
                            </ul>                        
                    </div>
                </div>
            </md-tab>
	</md-tab-group>
    </div>
    <div class="form-group position clearfixed" *ngIf="coachForm.controls.coachsport.value">
        <div class="panel panel-primary margin-0 ng-hide" *ngIf="(coachForm.controls.coachsport.value=='66') || (coachForm.controls.coachsport.value=='66,71')">
                <div class="panel-heading football-position">Football Position</div>
                <div class="panel-body">
                    <div class="offense clearfix margin-bottom-15">                  
                        <select multiple class="form-control" formControlName="coach_footballPos" multiple="">
                            <option value="" selected="selected" disabled="">-- Please Select Football Position --</option>
                            <option *ngFor="let coachfootballPo of coach_football_position" value="{{coachfootballPo.tid}}">
                                {{ coachfootballPo.name}}</option>
                        </select>
                        <span  class="help-block margin-0 ng-scope">Football staff position is required.</span>
                    </div>
                </div>
        </div>
        <div class="panel panel-primary margin-0 ng-hide" *ngIf="(coachForm.controls.coachsport.value=='71') || (coachForm.controls.coachsport.value=='66,71')">
                <div class="panel-heading football-position">Basketball Position</div>
                <div class="panel-body">
                    <div class="offense clearfix margin-bottom-15">                  
                        <select multiple class="form-control" formControlName="coach_basketbalPos" multiple="">
                            <option value="" selected="selected" disabled="">-- Please Select Basketball Position --</option>
                            <option *ngFor="let coachbasketballPo of coach_basketball_position" value="{{coachbasketballPo.tid}}">
                                {{ coachbasketballPo.name}}</option>
                        </select>
                        <span  class="help-block margin-0 ng-scope">Basketball staff position is required.</span>
                    </div>
                </div>
        </div>
    </div>
    
   
</div>