<div [formGroup]="adressForm">
    
    <div class="form-group col-sm-6"> 
          <md-input-container >
              <input md-input formControlName="preschooldata_teamname" placeholder = "Team/Mascot Name"/>
          </md-input-container>
    </div>
    <div class="form-group col-sm-6"> 
        <md-select placeholder="level of team" formControlName="preschooldata_teamlevel">
            <md-option *ngFor="let school_level of school_level" [value]="school_level.tid">
              {{ school_level.name }}
            </md-option>
        </md-select>
    </div>
    
    <div class="form-group col-sm-6"> 
          <md-input-container >
              <input md-input 
                     [colorPicker]="color" 
                     (colorPickerChange)="color=$event" 
                     [style.background]="color" [value]="color" 
                      placeholder = "Team/Mascot Name"/>
          </md-input-container>
    </div>
   
   
   
</div>