<div class="clearfix fullprofilediv" id="content">
<!--     <app-profileBanner>loading...</app-profileBanner> -->
  <div id="profile" class="page_main_content clearfix">
      <div class="page_main_content_inner clearfix">
        <div class="left_content">
          
        </div>

        <div class="right_content">
            <div class="page_banner clearfix">
                <div class="page_banner_inner clearfix" style="background:#2f3437;">
                    <div class="ban_bg clearfix">
                      <div class="ban_color clearfix" style="background:#000;">
                        <div class="ban_stick_box clearfix">
                          <div class="ban_stick" style="background:#d3ac41;"></div>
                          <div class="ban_stick" style="background:#d3ac41;"></div>
                          <div class="ban_stick" style="background:#d3ac41;"></div>
                          <div class="ban_stick" style="background:#d3ac41"></div>
                        </div>
                      </div>

                      <div class="clearfix">
                        <div class="container">
                          <div class="row">
                              <div class="col-md-3 col-sm-3 col-xs-12"><a href=""><img src="http://www.m6risingstars.com/dev-hunny/uploads/26_10173_th.jpg" alt="Panthers"></a></div>
                              <div class="col-md-5 col-sm-5 col-xs-12 top_ban_txt">
                                <div class="user_profile_details clearfix">
                                  <div class="user_profile_name text-light-yellow ng-binding">
                                  {{userName}}</div>
                                  <div class="user_profile_edit ng-scope" ng-controller="ScrollController"><a ng-click="gotoBottom('profile/editprofile', 'editprofilepage')" class="pull-right"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
                                </div>
                                <p class="text-white ng-binding">test, Tennessee </p>
                                <p class="text-light-green ng-binding"> Basketball</p>
                                <p class="text-white ng-binding">D1-AA</p>
                                <div class="clearfix ng-scope" ng-controller="ScrollController">
                                  <a ng-click="gotoBottom('profile/coachvideos', 'coachvideospage'); $root.clickTab = 1" class="video_btn text-center text-white clearfix pointer">
                                    <span class="ban_btn_left_txt pull-left padding-5">
                                      <span class="big_txt">Trending Video</span>
                                      <span class="small_txt">Football &amp; Basketball</span>
                                    </span>
                                    <span class="ban_btn_left_icon pull-right">
                                      <img src="/images/video_icon.png" alt="video_icon">
                                    </span></a>
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-12 col-lg-padding5 video-xs-center">
                                <!-- <div anguvideo ng-model="youTubeURL" width="373" height="226"></div> -->
                                <div class="clearfix ng-binding" ng-bind-html="mydefaultvideo"><video width="100%" controls=""><source src="http://www.m6risingstars.com/dev-hunny/uploads/26_1236_SHORT WILDLIFE CLIPS.mp4" type="video/mp4"></video></div>
                                <!-- <img src="/images/video.jpg" alt="video"> -->
                              </div>
                          </div>
                        </div>
                      </div>



                    </div>
                  
                </div>        		
        	  </div>
            <div class="page_details clearfix hl-sticky">

            </div>
        </div>

      </div>
  </div>
</div>


