<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="'200'" [showSpinner]="'false'" [direction]="'rightToLeftIncreased'"
             [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<div class="page_middle_content clearfix ng-scope">
<div class="clearfix login_reg_bg ng-scope" id="content">
<div class="container">
  <div class="row margin-15">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
      <div class="login_reg_mid padding-15 padding-top-15 padding-bottom-15">
        <h4>Add customer</h4>
     
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div class="form-group col-sm-12 clearfixed">
          <div class="form-group col-sm-4">  
          <md-input-container>
              <input mdInput formControlName="firstname" placeholder = "First Name" />
              <md-hint *ngIf="myForm.hasError('required','firstname')" [ngStyle]="{'color': 'red'}" align="start">First Name is required</md-hint>
          </md-input-container>
          </div>    
          <div class="form-group col-sm-4"> 
          <md-input-container >
              <input mdInput formControlName="middlename" placeholder = "Middle Name"/>
          </md-input-container>
          </div>    
          <div class="form-group col-sm-4"> 
          <md-input-container >
              <input mdInput formControlName="lastname" placeholder = "Last Name"/>
              <md-hint *ngIf="myForm.hasError('required','lastname')" [ngStyle]="{'color': 'red'}" align="start">Last Name is required</md-hint>
          </md-input-container>
          </div>
            
          <div class="form-group col-sm-4"> 
            <my-date-picker name="date" [options]="myDatePickerOptions"  formControlName="date" placeholder = "Date of Birth."></my-date-picker>
            <md-hint *ngIf="myForm.hasError('required','date')" [ngStyle]="{'color': 'red'}" align="start">Date of Birth is required</md-hint>
          <!-- <md-input-container > -->

              <!-- <input mdInput type="date" formControlName="date" placeholder = "Date of Birth."/> -->
              <!--  <md-hint *ngIf="myForm.hasError('required','date')" [ngStyle]="{'color': 'red'}" align="start">Date of Birth is required</md-hint>
          </md-input-container> -->
          </div>    
          <div class="form-group form-group-gender col-sm-4"> 
          <md-radio-group formControlName="gender">
            <md-radio-button [value]="male">Male</md-radio-button>
            <md-radio-button [value]="female">Female</md-radio-button>
            <md-hint *ngIf="myForm.hasError('required','gender')" [ngStyle]="{'color': 'red'}" align="start">Gender is required</md-hint>
          </md-radio-group>
          </div>
            <div class="form-group col-sm-4">
                <md-input-container class="col-sm-12">
                <input mdInput type="number" formControlName="mobile" placeholder = "Mobile No." min="10" max="10" step="10"/>
                 <md-hint *ngIf="myForm.hasError('required','mobile')" [ngStyle]="{'color': 'red'}" align="start">Mobile No is required</md-hint>
                 <md-hint *ngIf="myForm.hasError('minLength','mobile')" [ngStyle]="{'color': 'red'}" align="start">Mobiledd No is required</md-hint>
                </md-input-container>
            </div>  
            <div class="clearfixed">
                <div class="form-group col-sm-6">
                    <md-input-container >
                    <input mdInput type="email" formControlName="email" placeholder = "email"/>
                    <small *ngIf="!myForm.controls.email.valid" class="text-danger">email is required!</small>
                    </md-input-container>
                </div> 
                <div class="form-group col-sm-6">
                    <md-input-container >
                    <input mdInput type="email" formControlName="emailconform"  placeholder = "Confirm Email Address"/>
                    <small *ngIf="!myForm.controls.emailconform.valid" class="text-danger">Confirm Email is required!</small>

                    </md-input-container>
                    <div *ngIf="myForm.controls.email.value != myForm.controls.emailconform.value" class="text-danger">Email and Confirm email must be same.</div>
                </div> 
            </div>
            <div class="clearfixed">
                <div class="form-group col-sm-6">
                    <md-input-container >
                    <input mdInput type="password" formControlName="password" placeholder = "Password"/>
                    <small *ngIf="!myForm.controls.password.valid" class="text-danger">Password is required!</small>
                    </md-input-container>
                </div> 
                <div class="form-group col-sm-6">
                    <md-input-container >
                    <input mdInput type="password" validateEqual="password" formControlName="confirmPassword"  placeholder = "Confirm password"/>
                    <small *ngIf="!myForm.controls.confirmPassword.valid" class="text-danger">Confirm password is required!</small>

                    </md-input-container>
                    
                    <div *ngIf="myForm.controls.password.value != myForm.controls.confirmPassword.value" class="text-danger">Password mismatch</div>
                </div> 
            </div>
        </div>

        <!-- <div class="form-group col-sm-12 clearfixed">
          <div class="form-group col-sm-6">
          <select class="selct form-control" (change)="onChangeregion($event.target.value)" formControlName="region">
            <option value="" selected="selected">-- Please select timezone --</option>
            <option *ngFor="let region of regions" [value]="region.name">
              {{ region.value }}
            </option>
          </select>
          </div> 
          <div class="form-group col-sm-6">
          <select *ngIf="myForm.value.region" class="selct form-control" (change)="onChangecountry($event.target.value)" formControlName="country">
            <option value="" selected="selected">-- Please select timezone --</option>
            <option *ngFor="let country of countries" [value]="country.code">
              {{ country.label }}
            </option>
          </select>
          </div> 
          <div class="form-group col-sm-6">
          <select *ngIf="hideclass=='show'" class="selct form-control" formControlName="state">
            <option value="" selected="selected">-- Please select timezone --</option>
            <option *ngFor="let state of states" [value]="state.code">
              {{ state.label }}
            </option>
          </select>
          </div> 
          <div class="form-group col-sm-6">
          <md-input-container *ngIf="(myForm.value.states) || (hideclass=='show') " class="form-group">
              <input mdInput formControlName="city" placeholder = "City" (change)="getalladdr()" />
              <small *ngIf="!myForm.controls.city.valid" class="text-danger">City is required</small>
          </md-input-container>
          </div>
        </div> -->

        <!-- <div class="form-group clearfixed" >
            <md-tab-group class="nav nav-pills reg_tab_menu" role="tablist">
              <md-tab label="Athlete" >
                  <div formArrayName="athlete">
                          <div class="panel-body" [formGroupName]="0">
                            <athlete-profile [group]="myForm.controls.athlete.controls[0]" ></athlete-profile>
                          </div>
                  </div>
              </md-tab>
              <md-tab label="Coach">
                   <div formArrayName="coach" >
                          <div class="panel-body" [formGroupName]="0">
                            <coach-profile [group]="myForm.controls.coach.controls[0]"></coach-profile>
                          </div>
                   </div>
              </md-tab>
                <md-tab label="Admin/Teacher">
                    <div   >
                          <div class="panel-body">
                              admin_teacher
                          </div>
                    </div>
                </md-tab>
              <md-tab label="Fan">
                    <div   >
                          <div class="panel-body">
                              fan
                          </div>
                    </div>
              </md-tab>
              <md-tab label="Scout(no collegiate affiliations)">
                    <div >
                          <div class="panel-body">
                              collegiate_affiliations
                          </div>
                    </div>
              </md-tab>
              <md-tab label="Parent/Relative">
                    <div  >
                          <div class="panel-body">
                              parent_relative
                          </div>
                    </div>
              </md-tab>
            </md-tab-group>
        </div> -->
          ---{{myForm.controls.coach.value[0]['coachsport'] |json}}
         <!-- <div formArrayName="addresses">
          <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Address {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <address [group]="myForm.controls.addresses.controls[i]"></address>
            </div>
          </div>
        </div> -->
          
          

        <!-- <div class="margin-20">
          <a (click)="addAddress()" style="cursor: default">
            Add another address +
          </a>
        </div> -->
          
          
        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div></div>